body {
    background: rgba(168, 157, 157, 0.705);
    font: normal 15pt Arial;


}

header {
    text-align: center;
    color: white;
    margin-top: -50px;
}

h1 {
    background: white;
    color: rgb(133, 124, 124);
    border-radius: 5px;
    width: 60%;
    text-align: center;
    display: inline-block;
    margin-bottom: -55px;
}
.container {
    width: 550px;
    padding: 2%;
    text-align: center;
    display: inline-block;
    margin-bottom: -35px;
}
p {
    color: rgb(133, 124, 124);
    background: white;
    border-radius: 5px;
    width: 100%;

    
}

section {
    background: rgba(255, 255, 255, 0.411);
    border-radius: 5px;
    padding: 15px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 4, 4);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
    text-align: center;


}

footer{
    color: rgb(255, 255, 255);
    text-align: center;
    font: normal 10pt Arial;
    font-style: italic;
    background: rgba(192, 192, 192, 0);

}

#imagem {
    border-radius: 300px;
}

#foto2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block; 
}

